@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Make



<h1>Add Make</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Add Make</button>
</form>
