.game-list {
    list-style: none;

}

.game-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.game-thumb {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.game-info h3 {
    margin-top: 0;
}

.price {
    font-weight: bold;
}
